## Here are the argu8ments we need to pass to read_json or to_json for respective formats

1)orient=split - columns,index and data are seperated
2)orient=records - array of json documents (eg.courses.json)
3)lines=True  multiple jsons with one json per line(eg.customers.json)
We can use to json to display the output from buffer.We can also write to files using to _json.
We can specify orient as part of to_json along with _ as path or buffer to see the output with out writing the files.
Here are examples with different supported JSON formats.

Common Use Cases for JSON
Here are some of the common use cases for JSON.
• Read data from JSON files.
• Write data to JSON files.
• We can use either json or pandas modules to read da a from JsON files or write data to JSON files. One need to be familiar with both the
approaches as each of them have different use cases and codes.
• Read JSON based response payloads on REST API Calls. We use requests module to process the REST API response Payloads.
• Once the payload is returned,we can use appropriate modules to process the data further.

In [1]:
person='''[
  {
    "name": "Max Schwarzmueller",
    "age": 29
  },
  {
    "name": "Manu Lorenz",
    "age": 30
  },
  {
    "name": "Chris Hayton",
    "age": 35
  },
  {
    "name": "Sandeep Kumar",
    "age": 28
  },
  {
    "name": "Maria Jones",
    "age": 30
  },
  {
    "name": "Alexandra Maier",
    "age": 27
  },
  {
    "name": "Dr. Phil Evans",
    "age": 47
  },
  {
    "name": "Sandra Brugge",
    "age": 33
  },
  {
    "name": "Elisabeth Mayr",
    "age": 29
  },
  {
    "name": "Frank Cube",
    "age": 41
  },
  {
    "name": "Karandeep Alun",
    "age": 48
  },
  {
    "name": "Michaela Drayer",
    "age": 39
  },
  {
    "name": "Bernd Hoftstadt",
    "age": 22
  },
  {
    "name": "Scott Tolib",
    "age": 44
  },
  {
    "name": "Freddy Melver",
    "age": 41
  },
  {
    "name": "Alexis Bohed",
    "age": 35
  },
  {
    "name": "Melanie Palace",
    "age": 27
  },
  {
    "name": "Armin Glutch",
    "age": 35
  },
  {
    "name": "Klaus Arber",
    "age": 53
  },
  {
    "name": "Albert Twostone",
    "age": 68
  },
  {
    "name": "Gordon Black",
    "age": 38
  }
]'''

In [2]:
person

'[\n  {\n    "name": "Max Schwarzmueller",\n    "age": 29\n  },\n  {\n    "name": "Manu Lorenz",\n    "age": 30\n  },\n  {\n    "name": "Chris Hayton",\n    "age": 35\n  },\n  {\n    "name": "Sandeep Kumar",\n    "age": 28\n  },\n  {\n    "name": "Maria Jones",\n    "age": 30\n  },\n  {\n    "name": "Alexandra Maier",\n    "age": 27\n  },\n  {\n    "name": "Dr. Phil Evans",\n    "age": 47\n  },\n  {\n    "name": "Sandra Brugge",\n    "age": 33\n  },\n  {\n    "name": "Elisabeth Mayr",\n    "age": 29\n  },\n  {\n    "name": "Frank Cube",\n    "age": 41\n  },\n  {\n    "name": "Karandeep Alun",\n    "age": 48\n  },\n  {\n    "name": "Michaela Drayer",\n    "age": 39\n  },\n  {\n    "name": "Bernd Hoftstadt",\n    "age": 22\n  },\n  {\n    "name": "Scott Tolib",\n    "age": 44\n  },\n  {\n    "name": "Freddy Melver",\n    "age": 41\n  },\n  {\n    "name": "Alexis Bohed",\n    "age": 35\n  },\n  {\n    "name": "Melanie Palace",\n    "age": 27\n  },\n  {\n    "name": "Armin Glutch",\n    "age": 35\n  },\n  {\n    "name": "Klaus Arber",\n    "age": 53\n  },\n  {\n    "name": "Albert Twostone",\n    "age": 68\n  },\n  {\n    "name": "Gordon Black",\n    "age": 38\n  }\n]'

In [4]:
import pandas as pd

In [19]:
df=pd.read_json(r"C:\Users\fmichera\Downloads\02-passengers.json)

SyntaxError: EOL while scanning string literal (1115626189.py, line 1)

In [20]:
df

                  name  age
0   Max Schwarzmueller   29
1          Manu Lorenz   30
2         Chris Hayton   35
3        Sandeep Kumar   28
4          Maria Jones   30
5      Alexandra Maier   27
6       Dr. Phil Evans   47
7        Sandra Brugge   33
8       Elisabeth Mayr   29
9           Frank Cube   41
10      Karandeep Alun   48
11     Michaela Drayer   39
12     Bernd Hoftstadt   22
13         Scott Tolib   44
14       Freddy Melver   41
15        Alexis Bohed   35
16      Melanie Palace   27
17        Armin Glutch   35
18         Klaus Arber   53
19     Albert Twostone   68
20        Gordon Black   38

In [16]:
df=pd.read_json(_, orient='split')

TypeError: argument of type 'method' is not iterable

In [21]:
df.to_json(orient='records',lines=True)

'{"name":"Max Schwarzmueller","age":29}\n{"name":"Manu Lorenz","age":30}\n{"name":"Chris Hayton","age":35}\n{"name":"Sandeep Kumar","age":28}\n{"name":"Maria Jones","age":30}\n{"name":"Alexandra Maier","age":27}\n{"name":"Dr. Phil Evans","age":47}\n{"name":"Sandra Brugge","age":33}\n{"name":"Elisabeth Mayr","age":29}\n{"name":"Frank Cube","age":41}\n{"name":"Karandeep Alun","age":48}\n{"name":"Michaela Drayer","age":39}\n{"name":"Bernd Hoftstadt","age":22}\n{"name":"Scott Tolib","age":44}\n{"name":"Freddy Melver","age":41}\n{"name":"Alexis Bohed","age":35}\n{"name":"Melanie Palace","age":27}\n{"name":"Armin Glutch","age":35}\n{"name":"Klaus Arber","age":53}\n{"name":"Albert Twostone","age":68}\n{"name":"Gordon Black","age":38}\n'

In [22]:
pd.read_json(_, lines=True)

                  name  age
0   Max Schwarzmueller   29
1          Manu Lorenz   30
2         Chris Hayton   35
3        Sandeep Kumar   28
4          Maria Jones   30
5      Alexandra Maier   27
6       Dr. Phil Evans   47
7        Sandra Brugge   33
8       Elisabeth Mayr   29
9           Frank Cube   41
10      Karandeep Alun   48
11     Michaela Drayer   39
12     Bernd Hoftstadt   22
13         Scott Tolib   44
14       Freddy Melver   41
15        Alexis Bohed   35
16      Melanie Palace   27
17        Armin Glutch   35
18         Klaus Arber   53
19     Albert Twostone   68
20        Gordon Black   38

In [12]:
import json

In [19]:
people_string='''
{
"people" :[
{
"emp_name": "John parker",
"emp_no. " : "12334",
"emp_email" :["johnparker@dummyemail.com"],
"has license" : "false"
},
{
"emp_name" : "Harshit kant",
"emp_no. " :"3445",
"emp_email" :"null",
"has license":"true"
}]}'''

In [21]:
data= json.loads(people_string)

In [24]:
print(type(data))##this code will treat this as a dict

<class 'dict'>

In [25]:
###to change in to list

In [27]:
print(type(data["people"]))##now you can iterate over the data

<class 'list'>

In [28]:
for person in data['people']:
    print(person["emp_name"],person["emp_email"])

John parker ['johnparker@dummyemail.com']
Harshit kant null

In [29]:
###to deleteb the values

In [30]:
data= json.loads(people_string)

In [31]:
data

{'people': [{'emp_name': 'John parker',
   'emp_no. ': '12334',
   'emp_email': ['johnparker@dummyemail.com'],
   'has license': 'false'},
  {'emp_name': 'Harshit kant',
   'emp_no. ': '3445',
   'emp_email': 'null',
   'has license': 'true'}]}

In [40]:
for person in data['people']:
    del person["emp_email"]

KeyError: 'emp_email'

In [35]:
data

{'people': [{'emp_name': 'John parker',
   'emp_no. ': '12334',
   'has license': 'false'},
  {'emp_name': 'Harshit kant', 'emp_no. ': '3445', 'has license': 'true'}]}

In [41]:
new_string=json.dumps(data)
print(type(new_string))

<class 'str'>

In [43]:
print(new_string)

{"people": [{"emp_name": "John parker", "emp_no. ": "12334", "has license": "false"}, {"emp_name": "Harshit kant", "emp_no. ": "3445", "has license": "true"}]}

In [44]:
###pretty printing

In [45]:
import json

In [46]:
people_string='''
{
"people" :[
{
"emp_name": "John parker",
"emp_no. " : "12334",
"emp_email" :["johnparker@dummyemail.com"],
"has license" : "false"
},
{
"emp_name" : "Harshit kant",
"emp_no. " :"3445",
"emp_email" :"null",
"has license":"true"
}]}'''

In [47]:
data= json.loads(people_string)

In [48]:
for person in data['people']:
    del person["emp_no. "]

In [49]:
new_string=json.dumps(data,indent=2,sort_keys=True)
print(new_string)

{
  "people": [
    {
      "emp_email": [
        "johnparker@dummyemail.com"
      ],
      "emp_name": "John parker",
      "has license": "false"
    },
    {
      "emp_email": "null",
      "emp_name": "Harshit kant",
      "has license": "true"
    }
  ]
}